<%= render partial: "search_box",
           locals: {order: @order,
                    only_nikkei225: @only_nikkei225,
                    only_favorite: @only_favorite,
                    parameter_example: @parameter_example,
                    categories: @categories,
                    selected_category: @category,
                    search_word: @search_word,
                    form_url: view_stock_path}
%>

<% if @stocks.empty? %>
  検索条件に合致するものが見つかりませんでした。
<% else %>
  <%= @stock_paginator.total_count %>件ヒット
  <%= paginate @stock_paginator -%>
  <div style="font-size: 8px;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>
          銘柄<br><%= link_to "▼", "#", onclick: "change_order(event, 'code2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'code1')" %>
        </th>
        <th class="category">
          業種<br><%= link_to "▼", "#", onclick: "change_order(event, 'category2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'category1')" %>
        </th>
        <th class="category">
          業種ランク<br><%= link_to "▼", "#", onclick: "change_order(event, 'category_rank2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'category_rank1')" %>
        </th>
        <th class="feature">
          特色
        </th>
        <th class="chart">
          チャート
        </th>
        <th class="market_capitalization">
          時価総額(百万)<br><%= link_to "▼", "#", onclick: "change_order(event, 'market_capitalization2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'market_capitalization1')" %>
        </th>
        <th class="price">
          株価(<%= @current_price_day %>)<br><%= link_to "▼", "#", onclick: "change_order(event, 'price2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'price1')" %>
        </th>
        <th class="listed_year">
          上場年<br><%= link_to "▼", "#", onclick: "change_order(event, 'listed_year2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'listed_year1')" %>
        </th>
        <th class="latest_net_sales">
          売上高(百万)<br><%= link_to "▼", "#", onclick: "change_order(event, 'net_sales_profit_rate2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'net_sales_profit_rate1')" %>
        </th>
        <th class="latest_operating_income">
          営業利益(百万)<br><%= link_to "▼", "#", onclick: "change_order(event, 'operating_income_profit_rate2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'operating_income_profit_rate1')" %>
        </th>
        <th class="latest_ordinary_income">
          経常利益(百万)<br><%= link_to "▼", "#", onclick: "change_order(event, 'ordinary_income_profit_rate2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'ordinary_income_profit_rate1')" %>
        </th>
        <th class="latest_net_income">
          純利益(百万)<br><%= link_to "▼", "#", onclick: "change_order(event, 'net_income_profit_rate2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'net_income_profit_rate1')" %>
        </th>
        <th class="per">
          <details>
            <summary>PER</summary>
            =<br>時価総額÷純利益<br>低いなら割安
          </details><%= link_to "▼", "#", onclick: "change_order(event, 'per2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'per1')" %>
        </th>
        <th class="pbr">
          <details>
            <summary>PBR</summary>
            =<br>時価総額÷自己資本<br>低いなら割安
          </details><%= link_to "▼", "#", onclick: "change_order(event, 'pbr2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'pbr1')" %>
        </th>
        <th class="day_golden_cross">日足GoldenCross<br><%= link_to "▼", "#", onclick: "change_order(event, 'day_of_day_golden_cross2')" %></th>
        <th class="day_dead_cross">日足DeadCross<br><%= link_to "▼", "#", onclick: "change_order(event, 'day_of_day_dead_cross2')" %></th>
        <th class="week_golden_cross">週足GoldenCross<br><%= link_to "▼", "#", onclick: "change_order(event, 'day_of_week_golden_cross2')" %></th>
        <th class="week_dead_cross">週足DeadCross<br><%= link_to "▼", "#", onclick: "change_order(event, 'day_of_week_dead_cross2')" %></th>
      </tr>
      </thead>
      <tbody>
      <% @stocks.each.with_index((@stock_paginator.current_page - 1) * @stock_paginator.limit_value + 1) do |stock, idx| %>
        <tr>
          <td><%= idx %></td>
          <td><%= %><%= stock["code"] %>&nbsp;
            <a href="https://moyamoya.space/dailyutil/stockInfo/access2sbi_chart?stock_code=<%= stock["code"] %>" target="blank">
              <%= stock["name"] %>
            </a>
            <% if stock["favorite_date"].present? %><br>⭐
            <% end %>
            <% if stock["is_nikkei_average_group"].present? && stock["is_nikkei_average_group"] == 1 %><br>(日経225)
            <% end %>
            <% if stock["listed_year"].present? && stock["listed_year"] <= 5 %><br>(新上場)
            <% end %>
            <% if stock["operating_income_profit_rate"].present? && stock["operating_income_profit_rate"] >= 10 %><br>(営業利益↑↑)
            <% end %>
            <br>
            <%= form_tag view_stock_favorite_path, method: "get" do |f| %>
              <input type="hidden" name="stock_id" value="<%= stock["id"] %>"/>
              <% if stock["favorite_date"].present? %>
                <input type="hidden" name="favorite" value="0"><input type="submit" value="お気に入り解除">
              <% else %>
                <input type="hidden" name="favorite" value="1"><input type="submit" value="お気に入り">
              <% end %>
            <% end %>
          </td>
          <td class="category">
            <%= link_to stock["category"], "#", onclick: "change_category(event, '#{stock["category"]}')" %>
          </td>
          <td class="category">
            <% if stock["category_rank"] %>
              <%= stock["category_rank"] %>位
            <% end %>
          </td>
          <td class="feature">
            <details>
              <summary><%= stock["feature"].slice(0..7) %></summary>
              <%= stock["feature"] %>
            </details>
          </td>
          <td class="chart">
            <%= render partial: "stock_chart", locals: {image: stock["image"], chart_id: stock["chart_id"]} %>
          </td>
          <td class="market_capitalization">
            <% if stock["market_capitalization"].present? %>
              <%= stock["market_capitalization"].to_s(:delimited) %>
            <% end %>
          </td>
          <td class="price"><%= stock["price"]&.to_s(:delimited) %></td>
          <td class="listed_year"><%= stock["listed_year"] %>.<%= stock["listed_month"] %></td>
          <td class="latest_net_sales">
            <% if stock["latest_net_sales"].present? && stock["ref_net_sales"].present? && stock["net_sales_profit_rate"].present? %>
              <%= @latest_first_year %>年<br><%= stock["latest_net_sales"]&.to_s(:delimited) %>
              <br><%= @latest_first_year - 1 %>年<br><%= stock["ref_net_sales"]&.to_s(:delimited) %>
              <br><%= stock["net_sales_profit_rate"] > 0 ? "△" : "▼" %><%= stock["net_sales_profit_rate"].round(2).abs&.to_s(:delimited) %>
              %
            <% end %>
          </td>
          <td class="latest_operating_income">
            <% if stock["latest_operating_income"].present? && stock["ref_operating_income"].present? && stock["operating_income_profit_rate"].present? %>
              <%= @latest_first_year %>年<br><%= stock["latest_operating_income"]&.to_s(:delimited) %>
              <br><%= @latest_first_year - 1 %>年<br><%= stock["ref_operating_income"]&.to_s(:delimited) %>
              <br><%= stock["operating_income_profit_rate"] > 0 ? "△" : "▼" %><%= stock["operating_income_profit_rate"].round(2).abs&.to_s(:delimited) %>
              %
            <% end %>
          </td>
          <td class="latest_ordinary_income">
            <% if stock["latest_ordinary_income"].present? && stock["ref_ordinary_income"].present? && stock["ordinary_income_profit_rate"].present? %>
              <%= @latest_first_year %>年<br><%= stock["latest_ordinary_income"]&.to_s(:delimited) %>
              <br><%= @latest_first_year - 1 %>年<br><%= stock["ref_ordinary_income"]&.to_s(:delimited) %>
              <br><%= stock["ordinary_income_profit_rate"] > 0 ? "△" : "▼" %><%= stock["ordinary_income_profit_rate"].round(2).abs&.to_s(:delimited) %>
              %
            <% end %>
          </td>
          <td class="latest_net_income">
            <% if stock["latest_net_income"].present? && stock["ref_net_income"].present? && stock["net_income_profit_rate"].present? %>
              <%= @latest_first_year %>年<br><%= stock["latest_net_income"]&.to_s(:delimited) %>
              <br><%= @latest_first_year - 1 %>年<br><%= stock["ref_net_income"]&.to_s(:delimited) %>
              <br><%= stock["net_income_profit_rate"] > 0 ? "△" : "▼" %><%= stock["net_income_profit_rate"].round(2).abs&.to_s(:delimited) %>
              %
            <% end %>
          </td>
          <td class="per">
            <% if stock["market_capitalization"].present? && stock["shareholder_equity"].present? && stock["per"].present? %>
              <%= stock["per"].round.to_s(:delimited) %>
            <% end %>
          </td>
          <td class="pbr">
            <% if stock["market_capitalization"].present? && stock["ref_net_income"].present? && stock["pbr"].present? %>
              <%= stock["pbr"].round.to_s(:delimited) %>
            <% end %>
          </td>
          <td class="day_golden_cross">
            <% if stock["day_of_day_golden_cross"].present? %>
              <%= stock["day_of_day_golden_cross"] %>
            <% end %>
          </td>
          <td class="day_dead_cross">
            <% if stock["day_of_day_dead_cross"].present? %>
              <%= stock["day_of_day_dead_cross"] %>
            <% end %>
          </td>
          <td class="week_golden_cross">
            <% if stock["day_of_week_golden_cross"].present? %>
              <%= stock["day_of_week_golden_cross"] %>
            <% end %>
          </td>
          <td class="week_dead_cross">
            <% if stock["day_of_week_dead_cross"].present? %>
              <%= stock["day_of_week_dead_cross"] %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @stock_paginator %>
  <div style="height: 100px;"></div>
  <div style="
  position: fixed;
      height: 100px;
      width: 100%;
      background-color: white;
      bottom: 0px;
      border-left: 1px solid;
      border-top: 1px solid;
      border-right: 1px solid;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 10px;
  ">
    <div>
      表示項目
      <div style="
      overflow: scroll;
          height: 80px;
      ">
        <label><input type="checkbox" id="display_base" onchange="switchFieldsVisiblity('base')" checked>基本情報</label>：
        <label><input type="checkbox" id="display_category" onchange="switchVisiblity('category')">業種</label>
        <label><input type="checkbox" id="display_feature" onchange="switchVisiblity('feature')">特徴</label>
        <label><input type="checkbox" id="display_market_capitalization" onchange="switchVisiblity('market_capitalization')">時価総額</label>
        <label><input type="checkbox" id="display_price" onchange="switchVisiblity('price')">株価</label>
        <label><input type="checkbox" id="display_listed_year" onchange="switchVisiblity('listed_year')">上場年</label>

        <br><label><input type="checkbox" id="display_chart" onchange="switchFieldsVisiblity('chart')" checked>チャート</label>：
        <label><input type="radio" name="display_chart_radio" id="display_chart_one_year">1年</label>&nbsp;
        <label><input type="radio" name="display_chart_radio" id="display_chart_five_year" checked>5年</label>&nbsp;
        <label><input type="radio" name="display_chart_radio" id="display_chart_ten_year">10年</label>&nbsp;

        <br><label><input type="checkbox" id="display_grade" onchange="switchFieldsVisiblity('grade')" checked>営業成績</label>：
        <label><input type="checkbox" id="display_latest_net_sales" onchange="switchVisiblity('latest_net_sales')">売上高</label>
        <label><input type="checkbox" id="display_latest_operating_income" onchange="switchVisiblity('latest_operating_income')">営業利益</label>
        <label><input type="checkbox" id="display_latest_ordinary_income" onchange="switchVisiblity('latest_ordinary_income')">経常利益</label>
        <label><input type="checkbox" id="display_latest_net_income" onchange="switchVisiblity('latest_net_income')">純利益</label>
        <label><input type="checkbox" id="display_per" onchange="switchVisiblity('per')">PER</label>
        <label><input type="checkbox" id="display_pbr" onchange="switchVisiblity('pbr')">PBR</label>

        <br><label><input type="checkbox" id="display_cross" onchange="switchFieldsVisiblity('cross')">クロス有無</label>：
        <label><input type="checkbox" id="display_day_golden_cross" onchange="switchVisiblity('day_golden_cross')">日足ゴールデンクロス</label>
        <label><input type="checkbox" id="display_day_dead_cross" onchange="switchVisiblity('day_dead_cross')">日足デッドクロス</label>
        <label><input type="checkbox" id="display_week_golden_cross" onchange="switchVisiblity('week_golden_cross')">週足ゴールデンクロス</label>
        <label><input type="checkbox" id="display_week_dead_cross" onchange="switchVisiblity('week_dead_cross')">週足デッドクロス</label>
      </div>
    </div>
  </div>
<% end %>
