<%= render partial: "search_box",
           locals: {order: @order,
                    only_nikkei225: @only_nikkei225,
                    parameter_example: @parameter_example,
                    categories: @categories,
                    selected_category: @category,
                    form_url: view_stock_chart_path}
%>
<%= link_to "基本情報ページへ",  view_stock_base_path %>
<br>

<% if @stocks.empty? %>
  検索条件に合致するものが見つかりませんでした。
<% else %>
  <%= @stock_paginator.total_count %>件ヒット
  <%= paginate @stock_paginator -%>
  <div style="font-size: 8px;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>
          銘柄<br><%= link_to "▼", "#", onclick: "change_order(event, 'code2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'code1')" %>
        </th>
        <th>
          業種<br><%= link_to "▼", "#", onclick: "change_order(event, 'category2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'category1')" %>
        </th>
        <th>
          業種ランク<br><%= link_to "▼", "#", onclick: "change_order(event, 'category_rank2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'category_rank1')" %>
        </th>
        <th>
          特色
        </th>
        <th>チャート画像</th>
        <th>日足GoldenCross<br><%= link_to "▼", "#", onclick: "change_order(event, 'day_of_day_golden_cross2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'day_of_day_golden_cross1')" %></th>
        <th>日足DeadCross<br><%= link_to "▼", "#", onclick: "change_order(event, 'day_of_day_dead_cross2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'day_of_day_dead_cross1')" %></th>
        <th>週足GoldenCross<br><%= link_to "▼", "#", onclick: "change_order(event, 'day_of_week_golden_cross2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'day_of_week_golden_cross1')" %></th>
        <th>週足DeadCross<br><%= link_to "▼", "#", onclick: "change_order(event, 'day_of_week_dead_cross2')" %>&nbsp;/&nbsp;
          <%= link_to "▲", "#", onclick: "change_order(event, 'day_of_week_dead_cross1')" %></th>
        </tr>
      </thead>
      <tbody>
      <% @stocks.each.with_index((@stock_paginator.current_page - 1) * @stock_paginator.limit_value + 1) do |stock, idx| %>
        <tr>
          <td><%= idx %></td>
          <td><%= stock["code"] %>&nbsp;
            <a href="https://moyamoya.space/dailyutil/stockInfo/access2sbi_chart?stock_code=<%= stock["code"] %>" target="blank">
              <%= stock["name"] %>
            </a>
            <% if stock["is_nikkei_average_group"].present? && stock["is_nikkei_average_group"] == 1 %><br>(日経225)<% end %>
            <% if stock["listed_year"].present? && stock["listed_year"] <= 5 %><br>(新上場)<% end %>
          </td>
          <td>
            <%= link_to stock["category"], "#", onclick: "change_category(event, '#{stock["category"]}')" %>
          </td>
          <td>
            <% if stock["category_rank"] %>
              <%= stock["category_rank"] %>位
            <% end %>
          </td>
          <td>
            <details>
              <summary><%= stock["feature"].slice(0..7) %></summary>
              <%= stock["feature"] %>
            </details>
          </td>
          <td>
            <% if stock["image"] %>
              <img src="/stockapp/chart_images/stock_chart/image/<%= stock["chart_id"] %>/<%= stock["image"] %>" />
              <% end %>
          </td>
          <td>
            <% if stock["day_of_day_golden_cross"].present? %>
              <%= stock["day_of_day_golden_cross"] %>
            <% end %>
          </td>
          <td>
            <% if stock["day_of_day_dead_cross"].present? %>
              <%= stock["day_of_day_dead_cross"] %>
            <% end %>
          </td>
          <td>
            <% if stock["day_of_week_golden_cross"].present? %>
              <%= stock["day_of_week_golden_cross"] %>
            <% end %>
          </td>
          <td>
            <% if stock["day_of_week_dead_cross"].present? %>
              <%= stock["day_of_week_dead_cross"] %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>